.account-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;

  img {
    width: 37rem;
    margin-right: 4rem;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 50%;

  .contract-name {
    text-align: center;
    -webkit-text-stroke: 1px var(--c-primary);
    color: transparent;
    font-size: 3.3rem;
  }

  .progress {
    display: flex;
    width: 100%;

    > * {
      width: 100%;
    }
  }

  .contract {
    display: flex;
    flex-direction: column;

    .contract__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    .border {
      padding: 10px 25px;
      border: 3px solid var(--c-primary);
      border-radius: 8px;
    }

    .device-info {
      border-top: 3px solid var(--c-primary);
      text-align: center;
    }
  }
}
