.characteristics-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  .offer-heading {
    text-align: center;
    font-size: 3rem;
  }

  .headings-char-page {
    text-align: center;
    -webkit-text-stroke: 1.5px var(--c-secondary);
    color: transparent;
    font-size: 2.8rem;
  }

  .model__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 3rem;

    .carousel-price {
      h1 {
        padding: 1rem;
        text-align: center;
        border-top: 2px solid grey;
      }
    }

    .info__block {
      display: flex;
      flex-direction: column;
      border: 2px solid grey;
      border-radius: 8px;
      width: 20rem;
      padding: 2rem 1rem;
      gap: 20px;

      p {
        font-weight: 700;
      }

      .line {
        display: flex;
        gap: 10px;
        padding: 10px 12px;
        background-color: rgba(42, 78, 134, 0.25);
        border-radius: 8px;
      }
    }

    .skeleton {
      width: 35rem !important;
      height: 35rem !important;
    }
  }
}

.line.relative {
  position: relative;

  .ribbon {
    position: absolute;
    top: -1.5rem;
    right: -19.6rem;
    font-size: large;
    padding: 6px;
  }
}

.characteristics {
  padding: 7rem 3rem;

  h2 {
    text-align: center;
    font-size: 2.8rem;
  }
}
