.carousel-body {
  display: flex;
  flex-wrap: wrap;
  width: 40rem;
  gap: 30px;

  button {
    color: black !important;
  }
}

.carousel {
  width: 70%;
}

.mini__images {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 20%;
}
