.device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid grey;
  border-radius: 8px;
  width: 20rem;

  img {
    width: 15rem;
    height: 15rem;
    border-bottom: 2px solid grey;
    object-fit: cover;
  }

  .price {
    font-size: 2rem;
  }

  .buttons {
    > * {
      margin-bottom: 10px;
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
