.sign-up-body {
  .poster {
    img {
      width: 30rem;
      filter: brightness(0.7);
    }
  }

  .login__register {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
}
