.characteristics-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10rem;

  h1 {
    -webkit-text-stroke: 1.5px black;
    color: transparent;
    font-size: 3rem;
  }

  .best__plans {
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
  }
}

.full__characteristics {
  text-align: start;
  font-size: 1.2rem;
  > * {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border-bottom: 2px solid grey;

    span {
      color: rgb(91, 91, 91);
      padding-top: 4rem;
    }
  }
}
