.characteristics-body {
  margin-top: 3rem;

  .poster {
    img {
      width: 20%;
      padding-top: 5rem;
      filter: brightness(0.9);
    }
  }

  .model__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 1rem;
  }

  .characteristics {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    -webkit-text-stroke: 1.5px var(--c-secondary);
    color: transparent;
    font-size: 3rem;
  }
}

.info__block {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 8px;
  width: 20rem;
  padding: 0rem 1rem;
  margin-top: 3rem;

  p {
    font-weight: 700;
  }

  .in-line {
    display: flex;
  }

  .delivery {
    position: relative;
    gap: 10px;
    padding: 10px 7px;
    background-color: rgba(42, 78, 134, 0.3);

    .ribbon {
      position: absolute;
      top: -30px;
      font-size: large;
      padding: 6px;
    }
  }
}

.skeleton {
  width: 35rem !important;
  height: 35rem !important;
}

.headings-char-page {
  text-align: center;
  -webkit-text-stroke: 1.5px var(--c-secondary);
  color: transparent;
  font-size: 2.8rem;
}
