.poster__images {
  display: flex;
  margin-top: 12rem;

  img {
    width: 50%;
    justify-content: center;
    background: no-repeat center;
    background-attachment: fixed;
  }
}

.menu__and__devices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding-top: 5rem;
  padding-left: 2rem;

  .results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;

    .devices {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }

    .paginate-numbers {
      display: flex;
      justify-content: center;
      gap: 1rem;

      > * {
        border: 2px solid rgb(161, 161, 161);
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 3px 10px;
        cursor: pointer;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
}
