.images-poster {
  display: flex;
  margin-top: 12rem;

  img {
    width: 50%;
    justify-content: center;
    background: no-repeat center;
    background-attachment: fixed;
  }
}

.devices {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 20px;

  .device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 8px;
    width: 20rem;

    img {
      width: 85%;
      border-bottom: 2px solid grey;
    }
  }
}
