.poster__images {
  display: flex;
  margin-top: 12rem;

  img {
    width: 50%;
    justify-content: center;
    background: no-repeat center;
    background-attachment: fixed;
  }
}

.menu__and__devices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding-top: 5rem;

  .devices {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 70%;
  }
}
