.image-poster {
  padding: 25rem;
  justify-content: center;
  background: url('../../assets/devices-page-image.png') no-repeat center/100%;
  background-attachment: fixed;
  background-size: cover;
  font-size: 30px;
}

.devices {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 20px;

  .device {
    background-color: var(--c-secondary);
    border-radius: 8px;
    width: 30%;

    img {
      width: 50%;
    }
  }
}
