.contact-details {
  width: 45rem;
  @media (max-width: 500px) {
    width: 100%;

    .buttons {
      width: 50%;
    }
  }

  h2,
  p {
    text-align: center;
  }

  p {
    color: var(--c-primary);
  }

  .input {
    margin-left: 15px;
  }
}
