.contact-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  h2,
  p {
    text-align: center;
  }

  p {
    color: var(--c-primary);
  }

  .input {
    margin-left: 20px;
  }
}
