.plan__card {
  background: url('../../assets/colorful-background.jpg') no-repeat center;
}

.plan__card__corporate {
  background: url('../../assets/2-2.jpg') no-repeat center;
}

.plan__card,
.plan__card__corporate {
  .name-of-plan {
    color: transparent;
    -webkit-text-stroke: 0.7px white;
    font-size: 2.1rem;
  }

  .glass {
    position: relative;
  }

  .btn__learn__more {
    cursor: pointer;
    font-size: larger;
    width: 12rem;
    height: 4rem;
    position: absolute;
    left: 4rem;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 1.1rem;
  border: 3px solid rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  width: 85%;

  h3 {
    margin: 8px;
  }

  .ribbon {
    position: absolute;
    right: -4.3px;
    bottom: 4.3rem;
  }

  .euro-icon {
    margin-left: 8px;
  }
}
