.plan__card {
  background: url('../../assets/colorful-background.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.plan__card__corporate {
  background: url('../../assets/purple-dark.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.plan__card,
.plan__card__corporate {
  .text-style-wrapper {
    font-size: 2rem;
  }

  .glass {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 1.1rem;
  border: 3px solid rgba(255, 255, 255, 0.09);
  border-radius: 8px;

  h3 {
    margin: 8px;
  }

  .ribbon {
    position: absolute;
    right: -4.3px;
    bottom: 4.4rem;
  }

  .euro-icon {
    margin-left: 8px;
  }
}
