.trending-plans {
  text-align: center;
}

.plan__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: url('../../assets/colorful-background.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 4rem 0px;
  gap: 20px;

  h2 {
    color: transparent;
    -webkit-text-stroke: 0.7px white;
    font-size: 2.1rem;
  }

  .glass {
    color: white;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.09);
    width: 20rem;
    height: 32rem;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);

      h2 {
        animation: none;
      }
    }
  }
}

.content {
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  width: 75%;

  .btn__learn__more {
    cursor: pointer;
    color: white;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    width: 12rem;
    height: 4rem;
    position: absolute;
    top: 22rem;
    left: 4rem;

    &:hover {
      background-color: var(--c-secondary);
    }
  }
}
