.drawer {
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

.drawer__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: x-large;

  .active-link {
    color: var(--c-primary);
  }
}

.link,
.logout-btn {
  color: black;
  cursor: pointer;
  &:hover {
    color: var(--c-primary);
  }

  .logout-btn:hover {
    .logout-icon {
      color: var(--c-primary);
    }
  }
}

.drawer-logo {
  img {
    width: 6rem;
  }
}
