.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 4;
  background: url('../../assets/1cede1ae01ffc75c72ab8fc809c2a6e0.jpg') no-repeat
    center/100%;
  background-attachment: fixed;
  width: 100%;
  padding: 20px 0px;

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    z-index: 1;
    width: 100%;
    max-width: 1000px;

    .nav__link {
      margin-left: 2rem;
      color: white;
      text-decoration: none;
      font-size: x-large;
    }
  }

  .logo {
    > * {
      text-decoration: none;
      font-size: xx-large;
      color: white;
      font-weight: 700;
    }
  }
}

.circle-icon {
  padding: 0px 9px;

  :hover {
    font-size: large;
  }
}

.avatar:hover {
  cursor: pointer;
}
