.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 4;
  background: var(--c-linear);
  background-size: 300% 300%;
  animation: color_animation 12s ease-in-out infinite;
  width: 100%;
  padding: 30px 0px;

  .links {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1000px;

    .nav__link {
      margin-left: 2rem;
      color: white;
      text-decoration: none;
      font-size: x-large;
    }
  }

  .logo {
    margin-left: 20px;
    > * {
      text-decoration: none;
      font-size: xx-large;
      background: white;
      background-clip: text;
      color: transparent;
      font-weight: 700;
    }
  }
}

.transparency {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 45px 0px;
}

// @media (max-width: 600px){

// }
