.device-regular {
  background: url('../../../assets/plan-cards/regular-card.jpg') no-repeat
    center;
}

.device-corporate {
  background: url('../../../assets/plan-cards/corporate-card.jpg') no-repeat
    center;
}

.device-corporate,
.device-regular {
  background-attachment: fixed;
  background-size: cover;
}

.device-image {
  img {
    width: 90%;
    padding: 10px;
    border-bottom: 2px solid grey;
  }
}

.device-content {
  margin-top: 3rem;
}

.no-device {
  h2 {
    padding: 1.5rem;
  }
  .plus-icon {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}
