.footer-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/plan-cards/regular-card.jpg') no-repeat center;
  background-size: cover;
  margin-top: 12rem;
  padding: 5rem 2rem;
  color: white;

  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    a {
      text-decoration: none;
      color: white;
    }
  }

  img {
    width: 8rem;
    height: 8rem;
    margin-right: 5vw;
  }

  p {
    width: 20rem;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .social__links {
    span {
      margin-bottom: 0.7rem;
    }
  }
}
