.footer-body {
  display: flex;
  background: url('../../assets/plan-cards/regular-card.jpg') no-repeat
    center/100%;
  width: 100%;
  margin-top: 12rem;
  padding: 5rem 2rem;
  color: white;

  .info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    a {
      text-decoration: none;
      color: white;
    }
  }

  img {
    position: absolute;
    width: 8rem;
  }

  p {
    width: 20rem;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .social__links {
    span {
      margin-bottom: 0.7rem;
    }
  }
}
