.plan-body {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .steps {
    width: 60%;
    text-align: center;
  }

  .toggle__button {
    background: var(--c-secondary);
    background-size: 300% 300%;
    animation: color_animation 12s ease-in-out infinite;
    padding: 3px;
    border-radius: 10px;
  }
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.terms {
  width: 60%;
}

.easy__signing {
  display: flex;
  text-align: center;
  background-color: var(--c-secondary);
  color: white;
  border-radius: 8px;

  h2 {
    padding: 0px 5rem;
  }
}
