.why-choose-us-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: 1.3rem;
  text-align: end;
  border-bottom: 3px solid grey;

  .heading {
    text-align: center;
    font-size: 3rem;
  }

  > * {
    padding: 1rem 0rem;
    img {
      width: 22rem;
    }
  }

  .info-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    h2 {
      max-width: 800px;
    }

    .last-text {
      text-align: center;
      max-width: 100%;
      margin-top: 5rem;
    }
  }
}

.colored-text {
  background: var(--c-primary);
  background-clip: text;
  color: transparent;
}
