.body {
  text-align: center;

  .poster {
    img {
      width: 40%;
      padding-top: 10rem;
      filter: brightness(0.9);
    }
  }
}

.phone__models {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 5rem;
  width: 100%;
  color: white;
  border-bottom: 3px solid rgb(204, 203, 203);

  .phone__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    transition: filter 0.4s ease-in-out;

    &:hover {
      img {
        filter: brightness(0.7);
      }
      .btn-home {
        opacity: 1;
      }
    }

    img {
      width: 25rem;
      height: 24rem;
      object-fit: cover;
      transition: filter 0.25s ease-in-out;
    }

    h1 {
      position: absolute;
      z-index: 1;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;
  margin-bottom: 5rem;
  width: 100%;
  background: url('../../assets/1cede1ae01ffc75c72ab8fc809c2a6e0.jpg') no-repeat
    center/100%;
  font-size: 1.7rem;

  .mini__blocks {
    display: flex;
    gap: 2rem;
    color: white;
    > * {
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      transition: transform 0.2s ease-in;
      &:hover {
        transform: scale(1.03);
        cursor: pointer;
      }
    }
  }
}

.btn-home {
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: 10rem;
  left: 6rem;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.plan__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url('../../assets/colorful-background.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 400px) {
  .phone__block:hover {
    filter: none !important;
  }
  .btn-home {
    position: static;
    opacity: 1;
    margin: 20px;
    border-color: black !important;
    color: black !important;
  }
}
