//Login and Register
.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 98, 98);
    height: auto;
    width: auto;
    border-radius: 8px;

    input {
      display: flex;
      width: 12rem;
      height: 2rem;
      text-align: center;
      margin: 20px;
      border-radius: 8px;
    }
  }
}
