:root {
  background-image: url('./assets/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
html {
  min-height: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}

body {
  font-family: 'Roboto', Calibri, cursive;
}

button {
  background-color: purple;
  cursor: pointer;
}
